  <!-- Facebook JavaScript SDK -->   
  <div id='fb-root'/>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : "148184185274277",
      autoLogAppEvents : true,
      xfbml            : true,
      version          : "v3.0"
    });
  };
	
	(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v3.0&appId=148184185274277&autoLogAppEvents=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, "script", "facebook-jssdk"));</script>
  <!-- End Facebook JavaScript SDK -->

